@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
    background-color: rgb(37, 15, 99);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color:white;
	font-size: 1.5rem;
    
}
h2{
    color:white;
}

main {

	margin: 1rem auto;
	border: 1px solid black;
	padding: 1rem;
	background-color: slategrey;
	display: flex;
	flex-direction: column;
}

input, button {
	padding: 0.5rem;
}



input {
	display: flex;
	gap: 1rem;
}


ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
