@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


.hero{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  grid-column: 1/6;
}


  
  .hero img {
   width: 100%;
   height: 0 auto;
    
  }
 
 
header{
    background: #003554; 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/6;
}
body{
    background-color:#ababab;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    grid-column: 1/6;
}
nav{
    background-color:#0582CA ;
    flex-direction:row;
    padding: 1rem;
    grid-column: 1/6;
    font-size: 1.5em;
    text-align: center;
    display: flex;
   
}

nav a{
    color: white;
    list-style: none;
    color: #fff;
    
    text-align: center;
}

.box{
    padding: .5rem .75rem;
    text-align: center;
    font-size: 1.75rem;
    grid-column: 1/8;
    display: flex;
    align-content: center;
}
.button{
  margin-left: 60%;
font-size: medium;
    color:white;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-evenly;
   grid-column: 1.8;
   align-content: center;
}

#menu{
    padding: .5rem .75rem;
  }

  #menu::before {
    content: "☰";
   
    
  }
  .grid{
    display: grid;
    align-items: center;
}
.card1  {
    width: 400px;
    grid-column: 1/6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
  

   

  }

  .card2{
    width: 500px;
    grid-column: 1/6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    
    
   
  }
  .card3{
    width: 35%;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    background-color: aquamarine;
  }

  .card3 h2{
    background-color: #0582CA ;
    color:white;
    
  }
.card3 li {
padding-top: .5rem;
}
  #menu.open::before {
    content: "❎";
  }
  .card4{
    width: 35%;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    
    

  }

  
  .one{
    display: flex;
    grid-column: 1/6;
    justify-content: space-evenly;
  }
 
  .card4 img{
    padding-top: .5rem;
    width: 515px;
    height: auto;
  }
 
  footer{
    background: #003554; 
    color: white;
    padding: 1rem;
    text-align: center;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;

}

main {

    width:80%;
    grid-column: 1/6;
    margin: 0 auto;
    
    
}



h2{
  margin-top: 5%;
    text-align: center;
    padding: 5px;
    align-items: center;
    grid-column: 1/6;

}

h3, h4{
 
    text-align: center;
    padding: 5px;
    align-items: center;
    grid-column: 1/6;
    padding-top: .5rem;
    
    
}


p{
    text-align: center;
    
    padding: 25px;
    align-items: center;
    
}
.card{
  align-content: center;
  margin-left: 5%;
  justify-content: space-evenly;
}


.content{
  align-content: center;
  
}
.card2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 padding: 3rem;
}
.card1{
  display: flex;
  flex-direction: row;
 
}
.card1 img{
    
    width:200px;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
   
    

}

#benefits {
  margin: 0 auto;
  max-width: 100%;


}

.bronze, .silver, .gold{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  width: 100%;
  height: auto;
  text-align: center;
  
}  

#benefits h2 {
  background-color:aquamarine;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  margin-top:0px;
}

#benefits h3 {
  font-size: 1.25rem;
  margin-top:0;
}

#benefits ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5rem;;
}

#benfits li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  
}





  
  .switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #96CCD9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5C5173;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .label {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  
  #visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
  }

  figure img {
    width: 25%;
    height: auto;
  }
  #current-temp, figcaption {
    margin-right: 10px;
  }