@media screen and (min-width: 500px) {
    .header-content {
        flex-direction: row;
    } 

      
    .navigation {
        flex-direction: row;
    }
  
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }   

    #menu{
        display: none;
    }

    .goals-grid, .business-grid {
        grid-template-columns: 1fr 1fr;
    }

    .logo_name {
        flex-direction: row;
        
       }
    }