@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
  }



  
