@import url('https://fonts.googleapis.com/css2?family=Georgia&family=Arial+Black&display=swap');
header {
    background: #355e5e;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/6;
    
  }

  body{
    background-color: silver;
   justify-content: space-between;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
 
  img {
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid black;
    width:10%;
    display: flex;
    flex-direction: row;
  }
  section {
    text-align: center;
   
    
  }

  .p::first-letter {
    color: navy;
    font-size: 2rem;
  }
  
  .navigation{
   flex-direction:row;
    background:  slategrey;
    padding: 1rem;
    grid-column: 1/6;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
  }
.navigation a {
    color: white;
    list-style: none;
    color: #fff;
    
    text-align: center;
    
}

.google-map {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-column: 1/6;
}

.google-map iframe {
  height: 450px;
  width: 100%;    
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid darkolivegreen;
}


main {

    width:80%;
    grid-column: 1/6;
   
    
    
}
ul{
  padding: .5rem;
}

p{
    text-align: center;
    padding: 25px;
    align-items: center;
}
footer {
    background: slategray;
    padding: 1rem;
    text-align: center;
    grid-column: 1/6;
  }

h1{
   font-size: 3rem;
}
   h2 {
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-align: center;
    grid-column: 1/6;
    padding-bottom: 1rem;
   }

   h3{
    background-color:#355e5e ;
    color: white;
   }


.grid{
    display: grid;
    align-items: center;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .card {
    width: 100%;
    grid-column: 1/6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
    margin-bottom: 3rem;

  }
  #menu{
    padding: .5rem .75rem;
  }

  #menu::before {
    content: "☰";
   
    
  }
  
  #menu.open::before {
    content: "❎";
  }
 
  main {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .hero {
    margin: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid darkolivegreen;
   grid-column: 1/6;
  
  }
  
 .hero img{
  width:  100%;
  height: auto;

 }
  
  .herolabel {
    position: absolute;
    top: 10px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.5;
    
  }
  
  .herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: fantasy;
  }
  
  .label {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  
  #visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
  }

  figure img {
    width: 25%;
    height: auto;
  }
  #current-temp, figcaption {
    margin-right: 10px;
  }