@media screen and (min-width: 600px) {
    .navigation {
        flex-direction: row;
    }

    
  
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }   

    #menu{
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        grid-gap: 1.5rem;
    }



    .google-map iframe {
        height: 650px;
    }
    
}